<%- include('./head.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="https://bundle.run/buffer@6.0.3" integrity="sha256-mJ/D02tDcbdmt1Pd5nDI6EWDmvFo5LOYWAP7AGxCE20=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bignumber.js" integrity="sha256-wVL1BH6h7i/pod41XKpG/h1lPY7y6h2iR5INy5ikXvs=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/cbor-web" integrity="sha256-iey8EY2WTC5Eu4oCNnxnQwmhpWYwbYn9o4gpoyhpgE0=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@simplewebauthn/browser"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body class="hidden">
    <div id="pageContent">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 align-self-center">
              <div class="alert alert-success" role="alert" id="successBanner">
                <strong>Success!</strong>
                <p id="successMessage"></p>
              </div>
              <div class="alert alert-warning" role="alert" id="warningBanner">
                <strong>Warning!</strong>
                <p id="warningMessage"></p>
              </div>
              <div class="alert alert-danger" role="alert" id="errorBanner">
                <strong>Error!</strong>. <span id="errorText"></span>
              </div>
              <div id="logoContainer">
                <%- include('./logo.ejs') %>
              </div>
              <h2 id="signInTitle">Lappsnet Wallet</h2>
          
              <!-- If not currently logged into Lappsnet -->
              <%- include('./wallet/connectLoginNotDetected.ejs') %>

              <!-- Continue with account? -->
              <%- include('./wallet/continueWithAccountConfirmation.ejs') %>
    
              <!-- If Lappsnet account detected -->
              <%- include('./wallet/connectLoginDetected.ejs') %>
              
              <!-- Register new account -->
              <%- include('./wallet/accountRegistrationForm.ejs') %>
          
              <!-- Switch to different account -->
              <%- include('./wallet/switchAccountForm.ejs') %>
  
              <!-- Logout conf modal -->
              <%- include('./wallet/logoutModal.ejs') %>
  
              <!-- Recovery modal -->
              <%- include('./wallet/recoverModal.ejs') %>
  
              <!-- Sign message modal -->
              <%- include('./wallet/signMessageModal.ejs') %>
  
              <!-- Sign transaction modal -->
              <%- include('./wallet/signTxModal.ejs') %>
  
              <!-- Create transaction modal -->
              <%- include('./wallet/createTxModal.ejs') %>

              <!-- Contract call modal -->
              <%- include('./wallet/contractCallModal.ejs') %>
              
              <!-- Contract call confirmation modal -->
              <%- include('./wallet/confirmContractCallModal.ejs') %>

              <!-- Backup encrypted key modal -->
              <%- include('./wallet/backupModal.ejs') %>
            </div>
        </div>
      </div>
    </div>
    <script src="/js/refactor/wallet/components/backUpAccount.js"></script>
    <script src="/js/refactor/wallet/components/contractCall.js"></script>
    <script src="/js/refactor/wallet/components/createTx.js"></script>
    <script src="/js/refactor/wallet/components/login.js"></script>
    <script src="/js/refactor/wallet/components/logout.js"></script>
    <script src="/js/refactor/wallet/components/newAccount.js"></script>
    <script src="/js/refactor/wallet/components/recoverAccount.js"></script>
    <script src="/js/refactor/wallet/components/signMessage.js"></script>
    <script src="/js/refactor/wallet/components/signTx.js"></script>
    <script src="/js/refactor/wallet/utils/base64.min.js"></script>
    <script src="/js/refactor/wallet/utils/callback.js"></script>
    <script src="/js/refactor/wallet/utils/copyAddress.js"></script>
    <script src="/js/refactor/wallet/utils/escapeHTML.js"></script>
    <script src="/js/refactor/wallet/utils/fido.js"></script>
    <script src="/js/refactor/wallet/utils/messages.js"></script>
    <script src="/js/refactor/wallet/utils/walletBalance.js"></script>
    <script src="/js/refactor/wallet/index.js"></script>
    <script>
      // Display page after all JS has loaded
      window.onload = function(e) {
        $('body').removeClass('hidden');
      }
    </script>
  </body>
</html>
